<a href="https://colab.research.google.com/github/Cesar200210/Inteligencia-Artificial-/blob/main/Copia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
print(sys.version)

3.10.12 (main, Mar 22 2024, 16:50:05) [GCC 11.4.0]

In [ ]:
myNumber= 3
myNumber= 3.6
state=True

In [ ]:
print(f'valor entero:{myNumber}')
print(f'valor entero es = ',myNumber)

valor entero:3.6
valor entero es =  3.6

In [ ]:
aux1=10
aux2=2

print("la suma de las variables aux1 + aux2 =",aux1+aux2)

la suma de las variables aux1 + aux2 = 12

In [ ]:
aux1=10
aux2=2

print("la resta de las variables aux1 + aux2 =",aux1-aux2)

la resta de las variables aux1 + aux2 = 8

In [ ]:
aux1=10
aux2=2

print("la multiplicacion de las variables aux1 + aux2 =",aux1*aux2)

la multiplicacion de las variables aux1 + aux2 = 20

In [ ]:
aux1=10
aux2=2

print("la potencia de las variables aux1 + aux2 =",aux1-aux2)

la potencia de las variables aux1 + aux2 = 8

In [ ]:
aux1=10
aux2=2

print("la divicion de las variables aux1 + aux2 =",aux1/aux2)

la divicion de las variables aux1 + aux2 = 5.0

In [ ]:
aux1=10
aux2=2

print("la potencia de las variables aux1**aux2 =",aux1**aux2)

la potencia de las variables aux1**aux2 = 100

In [ ]:
var1='Hola'
var2=',Cesar'

print(var1+var2)

Hola,Cesar

In [ ]:
print(3*var1)

HolaHolaHola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('the type of the num1 is: ',type(num1))
print('the type of the num1 is: ',type(num2))

the type of the num1 is:  <class 'int'>
the type of the num1 is:  <class 'float'>

In [7]:
import numpy as np
import pandas as pd

print(np.__version__)
serieData=pd.Series(data=[100,200,300],index=['juan','pedro','lucas'])
print(serieData)
print('////')
print(serieData['juan'])

print(serieData.index)
print('pedro' in serieData)


myDictionary={'one':pd.Series([100,200,300],index=['juan','pedro','lucas']),
                'two':pd.Series([11,22,23],index=['julio','pedro','lucas'])}

#series and dataframe
#
df=pd.DataFrame(myDictionary)
print(df)
print('we are here.........')
print(df.index)
print(df.columns)

print(df.loc['juan'])

1.25.2
juan     100
pedro    200
lucas    300
dtype: int64
////
100
Index(['juan', 'pedro', 'lucas'], dtype='object')
True
         one   two
juan   100.0   NaN
julio    NaN  11.0
lucas  300.0  23.0
pedro  200.0  22.0
we are here.........
Index(['juan', 'julio', 'lucas', 'pedro'], dtype='object')
Index(['one', 'two'], dtype='object')
one    100.0
two      NaN
Name: juan, dtype: float64